body {
    font-family: 'Quicksand', sans-serif;
    background: #141E30;
    background: -webkit-linear-gradient(to top, #243B55, #141E30);
    background: linear-gradient(to top, #243B55, #141E30);
    overflow-x: hidden;
    box-sizing: border-box;
}

h1 {
    color: #f0f8ff;
}

h3 {
  color: green;  
}

#result {
    margin-top: 2rem;
}

#appendContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 150px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.button-selection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
    margin: auto;
}

.button-selection button {
    padding: 10px;
    width: 10rem;
    margin: 2rem 0.5rem;
    border-radius: 5px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
}

.container-main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 768px;
    width: 578px;
    border: 1px solid aliceblue;
    border-radius: 5px;
}

.container-input {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.container-input input {
    background-color: transparent;
    border: 1px solid white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 1rem;
    color: white;
    text-align: center;
}

.container-input input:focus {
    outline: 0 none;
}

.container-input label {
    margin: 0.5rem 0;
    color: white;
}

.container-input button {
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
}

.button button {
    padding: 10px;
    width: 10rem;
    margin-top: 2rem;
    border-radius: 5px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
}

.button button:hover, .button-selection button:hover, .container-input button:hover {
    background-color: #141E30;
    transition: 500ms;
}

.instructions {
    color: white;
}

.instructions p {
    font-size: 14px;
}

.append-container {
    color: white;
    text-align: left;
    border: 1px solid white;
    margin-top: 1rem;
    border-radius: 5px;
    padding: 13px;
    max-width: 295px;
}

.append-container p {
    text-align: center;
    padding: 5px;
}

.add-participants .button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.button .remove-one, .button .add-one {
    width: 2.5rem;
    margin: 0;
}

.button .static-input {
    border: none;
    width: 5rem;
    margin-top: 1rem;
    font-size: 20px;
    text-align: center;
    color: white;
}

.container-input .amount-to-pay {
    text-align: center;
    font-size: 24px;
    border: none;
}

.show {
    display: flex;
}

.hide {
    display: none;
}

@media only screen and (max-width: 578px) {
    
    .container {
        height: 100%;
    }

    .container-main {
        height: 100vh;
        width: 100vw;
        border: none;
    }
}

/* Open Calculator */
/* p {
    font-family: 'Inconsolata', monospace;
    font-weight: 400;
} */



.display {
    background: #243B55;
    height: 7rem;
    padding: 10px;
}

.display p {
    color: white;
    font-family: 'Inconsolata', monospace;
    text-align: right;
    font-size: 55px;
}

.section {
    display: flex;
}

.section button {
    border: none;
    border-radius: 0px;
    height: 100px;
    width: 100px;
    font-family: 'Inconsolata', monospace;
}

.section .extended {
    width: 200px;
}

.calculator {
    box-shadow: -10px 10px 20px black;
    border: 1px solid black;
}

@media only screen and (max-width: 390px) {
    .container-input {
        width: 20rem;
        border: 0px none;
    }

    .calculator {
        border: 1px solid black;
    }
}

/* Open Calculator End */